adf_mentoring_dd/pipeline/pl_data_cinematickets_to_movies_cinematickets_inc.json
{
	"name": "pl_data_cinematickets_to_movies_cinematickets_inc",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_LKP_TargetGetLastLoadDate",
				"description": "To find a watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "--TRUNCATE TABLE stg.cinema_tickets;  --c)\tStage table should be truncated before population\n\nSELECT\n  coalesce(last_transaction_date, '1970-01-01') as last_target_transaction_date\nFROM (\n  SELECT \n    MAX(transactiondate) as last_transaction_date\n  FROM [dbo].[tCinemaTickets]\n  ) ds;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_movies_credits",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_GEN_LKP_SourceGetLastLoadDate",
				"description": "To find a watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\n  coalesce(last_transaction_date, '9999-12-31') as last_source_transaction_date\nFROM (\n  SELECT \n    MAX(TransactionDt) as last_transaction_date\n  FROM dbo.Tickets\n  ) ds;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ls_sql_CinemaTickets_Tables",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_MT_Copy_To_stgCinema_tickets",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_TargetGetLastLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_GEN_LKP_SourceGetLastLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT \n  CinemaCode, CinemaName, MovieId, TicketCount, TicketPrice, TransactionId, TransactionDt\nFROM dbo.Tickets\nWHERE TransactionDt >  '@{activity('ACT_GEN_LKP_TargetGetLastLoadDate').output.firstRow.last_target_transaction_date}' --last_target_transaction_date\n  AND TransactionDt <= '@{activity('ACT_GEN_LKP_SourceGetLastLoadDate').output.firstRow.last_source_transaction_date}' --last_source_transaction_date",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.cinema_tickets;  --c)\tStage table should be truncated before population\nSELECT 1;\n",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "movie_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ticket_count",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "transaction_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ls_sql_CinemaTickets_Tables",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azsql_movies_stg_cinema_tickets",
						"type": "DatasetReference",
						"parameters": {
							"Table_name": "cinema_tickets",
							"Schema_name": "stg"
						}
					}
				]
			},
			{
				"name": "ACT_GEN_SPRC_runStoredProceduresForDbo",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ACT_MT_Copy_To_stgCinema_tickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azsql_movies",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "EXEC dbo.LoadCredits_To_CinemaTickets;\nEXEC dbo.LoadCredits_To_Cinema;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-10-27T21:12:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}