adf_mentoring_dd/pipeline/pl_data_online_master.json
{
	"name": "pl_data_online_master",
	"properties": {
		"activities": [
			{
				"name": "pl_data_ablb_online_to_adls_online",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_LastModifiedDateAdls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_data_ablb_online_to_adls_online",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Last_Modified": {
							"value": "@activity('ACT_GEN_META_LastModifiedDateAdls').output.firstRow.last_modified",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pl_data_adls_online_to_azsql_online_purchase",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pl_data_ablb_online_to_adls_online",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_data_adls_online_to_azsql_online_purchase",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Last_Modified": {
							"value": "@activity('ACT_GEN_META_LastModifiedDateAdls').output.firstRow.last_modified",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pl_data_adls_online_to_adls_online_arc",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pl_data_adls_online_to_azsql_online_purchase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_data_adls_online_to_adls_online_arc",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ACT_GEN_META_LastModifiedDateAdls",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [WatermarkValue] as last_modified\nFROM dbo.watermarktable\nWHERE [TableName] = 'json';\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_movies_credits",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_UPD_LastModifiedDateAdls",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "pl_data_adls_online_to_adls_online_arc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "UPDATE dbo.watermarktable\nSET [WatermarkValue] = GETUTCDATE() \nWHERE [TableName] = 'json';\n\nSELECT 1;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_movies_credits",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"Last_modified": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-02T18:53:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}