adf_mentoring_dd/pipeline/pl_data_metadata_driven.json
{
	"name": "pl_data_metadata_driven",
	"properties": {
		"description": "task 9",
		"activities": [
			{
				"name": "ACT_COPY_metadata_driven_approach",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": {
							"type": "Expression",
							"value": "@json(string(pipeline().parameters.p_additional_columns)).additionalColumns"
						},
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.p_subfolder",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.p_wildcard",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE 123 @{pipeline().parameters.p_schema_name}.@{pipeline().parameters.p_table_name};\nselect 1",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": {
						"value": "@pipeline().parameters.p_DIU",
						"type": "Expression"
					},
					"translator": {
						"value": "@pipeline().parameters.p_mapping",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_metadata_driven",
						"type": "DatasetReference",
						"parameters": {
							"p_input_file_name": {
								"value": "@pipeline().parameters.p_input_file_name",
								"type": "Expression"
							},
							"p_col_delimiter": {
								"value": "@pipeline().parameters.p_col_delimiter",
								"type": "Expression"
							},
							"p_row_delimiter": {
								"value": "@pipeline().parameters.p_row_delimiter",
								"type": "Expression"
							},
							"p_encoding": {
								"value": "@pipeline().parameters.p_encoding",
								"type": "Expression"
							},
							"p_escape_character": {
								"value": "@pipeline().parameters.p_escape_character",
								"type": "Expression"
							},
							"p_qoute_character": "\""
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azsql_metadata_driven",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@pipeline().parameters.p_schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.p_table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACT_SP_LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_COPY_metadata_driven_approach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_log]",
					"storedProcedureParameters": {
						"json": {
							"value": {
								"value": "@string(activity('ACT_COPY_metadata_driven_approach').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azsql_movies",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set_Var_ERR",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_COPY_metadata_driven_approach",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "err",
					"value": {
						"value": "@string(\n    json(\n        replace(\n            string(activity('ACT_COPY_metadata_driven_approach').Error),\n            '''',\n            ''''''\n        )\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_SP_LOG_ERROR",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set_Var_ERR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.usp_log_error",
					"storedProcedureParameters": {
						"json": {
							"value": {
								"value": "@variables('err')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azsql_movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_input_file_name": {
				"type": "string",
				"defaultValue": "ratings_part*.csv"
			},
			"p_col_delimiter": {
				"type": "string",
				"defaultValue": "|"
			},
			"p_row_delimiter": {
				"type": "string"
			},
			"p_encoding": {
				"type": "string",
				"defaultValue": "UTF-8"
			},
			"p_escape_character": {
				"type": "string",
				"defaultValue": "\""
			},
			"p_schema_name": {
				"type": "string",
				"defaultValue": "stg"
			},
			"p_table_name": {
				"type": "string",
				"defaultValue": "ratings"
			},
			"p_mapping": {
				"type": "string",
				"defaultValue": "                                \"translator\": {                                   \"type\": \"TabularTranslator\",                                   \"mappings\": [{                                       \"source\": {                                         \"name\": \"userId\",                                         \"type\": \"String\",                                         \"physicalType\": \"String\"                                       },                                       \"sink\": {                                         \"name\": \"user_id\",                                         \"type\": \"String\",                                         \"physicalType\": \"nvarchar\"                                       }                                     }, {                                       \"source\": {                                         \"name\": \"movieId\",                                         \"type\": \"String\",                                         \"physicalType\": \"String\"                                       },                                       \"sink\": {                                         \"name\": \"movie_id\",                                         \"type\": \"String\",                                         \"physicalType\": \"nvarchar\"                                       }                                     }, {                                       \"source\": {                                         \"name\": \"rating\",                                         \"type\": \"String\",                                         \"physicalType\": \"String\"                                       },                                       \"sink\": {                                         \"name\": \"rating\",                                         \"type\": \"String\",                                         \"physicalType\": \"nvarchar\"                                       }                                     }, {                                       \"source\": {                                         \"name\": \"timestamp\",                                         \"type\": \"String\",                                         \"physicalType\": \"String\"                                       },                                       \"sink\": {                                         \"name\": \"timestamp\",                                         \"type\": \"String\",                                         \"physicalType\": \"nvarchar\"                                       }                                     }, {                                       \"source\": {                                         \"name\": \"pipelineId\",                                         \"type\": \"String\"                                       },                                       \"sink\": {                                         \"name\": \"pipelineId\",                                         \"type\": \"String\",                                         \"physicalType\": \"nvarchar\"                                       }                                     }, {                                       \"source\": {                                         \"name\": \"source_filename\",                                         \"type\": \"String\"                                       },                                       \"sink\": {                                         \"name\": \"source_filename\",                                         \"type\": \"String\",                                         \"physicalType\": \"nvarchar\"                                       }                                     }                                   ],                                   \"typeConversion\": true,                                   \"typeConversionSettings\": {                                     \"allowDataTruncation\": true,                                     \"treatBooleanAsNumber\": false                                   }                                 }"
			},
			"p_DIU": {
				"type": "int",
				"defaultValue": 0
			},
			"p_subfolder": {
				"type": "string",
				"defaultValue": "metadata-driven"
			},
			"p_wildcard": {
				"type": "string",
				"defaultValue": "ratings_part*"
			},
			"p_additional_columns": {
				"type": "string",
				"defaultValue": {
					"additionalColumns": [
						{
							"name": "pipelineId",
							"value": "..."
						},
						{
							"name": "source_filename",
							"value": "$$FILEPATH"
						}
					],
					"skipLineCount": 0,
					"recursive": true,
					"enablePartitionDiscovery": false,
					"wildcardFileName": "credits*"
				}
			}
		},
		"variables": {
			"err": {
				"type": "String"
			}
		},
		"annotations": []
	}
}