adf_mentoring_dd/pipeline/pl_master_metadata_driven.json
{
	"name": "pl_master_metadata_driven",
	"properties": {
		"activities": [
			{
				"name": "ACT_GET_COUNT_RUNS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM @{pipeline().parameters.p_MainControlTableName} \nwhere 1=1\n  and CopyEnabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_movies_credits",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GET_COUNT_RUNS').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_GET_TOP1_TABLE_TO_PROCESS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select top 1 *\nFROM p_MainControlTableName",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azsql_metadata_driven",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.p_MainControlTableName",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_GET_COUNT_RUNS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ACT_GET_COUNT_RUNS').output, 0)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_MainControlTableName": {
				"type": "string",
				"defaultValue": "etl.tControlMetadata"
			}
		},
		"annotations": []
	}
}