adf_mentoring_dd/pipeline/TASK5_BAK_pl_data_ds_adls_raw_movies_to_azsql_movies.json
{
	"name": "TASK5_BAK_pl_data_ds_adls_raw_movies_to_azsql_movies",
	"properties": {
		"activities": [
			{
				"name": "ACT_MT_Credits_MoviesFromAdlsToAzSQLMovies",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "credits.csv"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [stg].[credits];\nselect 1;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "cast",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cast",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "crew",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "crew",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_raw_param_wildcard",
						"type": "DatasetReference",
						"parameters": {
							"File_name_pattern": "credits.csv",
							"Sub_Folder": "movies"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azsql_movies_credits",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_MT_Movies_Metadata_MoviesFromAdlsToAzSQLMovies",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "source_filename",
								"value": "movies_metadata.csv"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [stg].[movies_metadata];\nselect 1;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "adult",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "adult",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "budget",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "budget",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "genres",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "genres",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "homepage",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "homepage",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_language",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_language",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "overview",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "overview",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "popularity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "popularity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "release_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revenue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "runtime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "runtime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tagline",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tagline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "video",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "video",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pipelineId",
									"type": "String"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "source_filename",
									"type": "String"
								},
								"sink": {
									"name": "source_filename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_raw_param_wildcard",
						"type": "DatasetReference",
						"parameters": {
							"File_name_pattern": "movies_metadata.csv",
							"Sub_Folder": "movies"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azsql_movies_movies_metadata",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_GT_AdlsRawMoviesFilenameList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_csv_raw_param_wildcard",
						"type": "DatasetReference",
						"parameters": {
							"File_name_pattern": "ratings_part*.csv",
							"Sub_Folder": "movies"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_TR_StgRatingsTable",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_GT_AdlsRawMoviesFilenameList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "TRUNCATE TABLE [stg].[ratings];\nSELECT 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azsql_movies_credits",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_Loop_Proceed_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_TR_StgRatingsTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GT_AdlsRawMoviesFilenameList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ACT_MT_Ratings_MoviesFromAdlsToAzSQLMovies",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "--TRUNCATE TABLE [stg].[ratings];\nselect 1;",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "userId",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "userId",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "movieId",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "movieId",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "rating",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "rating",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "timestamp",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "timestamp",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "pipelineId",
												"type": "String"
											},
											"sink": {
												"name": "pipelineId",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "source_filename",
												"type": "String"
											},
											"sink": {
												"name": "source_filename",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_csv_raw_param_one_file",
									"type": "DatasetReference",
									"parameters": {
										"File_name_pattern": {
											"value": "@item().name",
											"type": "Expression"
										},
										"Sub_folder": "movies"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azsql_movies_ratings",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "ACT_MT_Retings_MoviesFromAdlsToArchive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_MT_Ratings_MoviesFromAdlsToAzSQLMovies",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_csv_raw_param_one_file",
									"type": "DatasetReference",
									"parameters": {
										"File_name_pattern": {
											"value": "@item().name",
											"type": "Expression"
										},
										"Sub_folder": "movies"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_csv_raw_param_one_file",
									"type": "DatasetReference",
									"parameters": {
										"File_name_pattern": "@item().name",
										"Sub_folder": "archive"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ACT_MT_Movies_Metadata_MoviesFromAdlsToArchive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_MT_Movies_Metadata_MoviesFromAdlsToAzSQLMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "adult",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "adult",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "belongs_to_collection",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "budget",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "budget",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "genres",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "genres",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "homepage",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "homepage",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "imdb_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_language",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_language",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "original_title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "overview",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "overview",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "popularity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "popularity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "poster_path",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_companies",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "production_countries",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "release_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "release_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revenue",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "runtime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "runtime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "spoken_languages",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "tagline",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tagline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "video",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "video",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_average",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vote_count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_raw_param_one_file",
						"type": "DatasetReference",
						"parameters": {
							"File_name_pattern": "movies_metadata.csv",
							"Sub_folder": "movies"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_csv_raw_param_one_file",
						"type": "DatasetReference",
						"parameters": {
							"File_name_pattern": "movies_metadata.csv",
							"Sub_folder": "archive"
						}
					}
				]
			},
			{
				"name": "ACT_MT_Credits_MoviesFromAdlsToArchive_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_MT_Credits_MoviesFromAdlsToAzSQLMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_raw_param_one_file",
						"type": "DatasetReference",
						"parameters": {
							"File_name_pattern": "credits.csv",
							"Sub_folder": "movies"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_csv_raw_param_one_file",
						"type": "DatasetReference",
						"parameters": {
							"File_name_pattern": "credits.csv",
							"Sub_folder": "archive"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-10-25T21:14:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}